.sidebar{
    position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
    background-color: white;
    width: 72px;
    padding-top: 5px;
    z-index: 200;
    padding-top: 8px;
   }

    .sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
   }

   .sidebar-link:hover{
    background-color: rgb(239, 239, 239);
   }

   .sidebar-link img{
    height: 24px;
    margin-bottom: 3px;
   }

   .text{
    font-family: roboto,arial;
    font-size: 10px;
    font-weight: 400;

   }